POLLING_INTERVAL=10
LOCALE=en-US

#FSTYPE_SRC=nfs
#MOUNT_OPTIONS_SRC=rw
#SERVER_SRC=192.168.0.9
#SHARE_SRC=movies
#MOUNTPOINT_SRC /mnt/nfs-src


#FSTYPE_DST=nfs
#MOUNT_OPTIONS_DST=rw
#SERVER_DST=192.168.0.9
#SHARE_DST=movies
#MOUNTPOINT_DST=/mnt/nfs-dst

#MEDIATYPE=image
#MEDIATYPE=video

#IMGEXT="jpg jpeg bmp png tiff"
#VIDEXT="avi mov mp4 vob mpg mpeg wmv webm m2ts"
